*~
*.bak
*.log
documentation/*.html
mechanical/eyecandy
mechanical/plotfiles
electrical/gschem/BOM
electrical/gschem/DRC
electrical/gschem/plotfiles
electrical/pcb/fab/*.bom
electrical/pcb/fab/*.cnc
electrical/pcb/fab/*.gbr
electrical/pcb/fab/*.xy
electrical/pcb/plotfiles
